<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <title>title</title>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>

        <link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" type="text/css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/social-buttons-3.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}"/>
        <link th:href="@{/webjars/bootswatch/3.3.7/united/bootstrap.min.css}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-dialog.css}"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap-multiselect.css}" type="text/css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/application.css}"/>

        <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

  
    </head>    
    <body>
       
       <table>
           <tr>
                <td th:text="${activity.title}"></td>
            </tr>
           <tr>
                    <td th:text="#{ams.admin.activity.info.label.id}">ID:</td>
                    <td th:text="${activity.id}"></td>
            </tr>
        </table>
    </body>
</html>

