<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <title>title</title>
        <meta charset="utf-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>

        <!--link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" type="text/css"/-->
        <!--link rel="stylesheet" type="text/css" th:href="@{/css/social-buttons-3.css}"/-->
        <!--link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}"/-->
        <!--link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/-->
        <!--link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/-->
        <link th:href="@{/vendors/bootstrap/dist/css/test.css}" rel="stylesheet" type="text/css" />
        
                    
        <!--link th:href="@{/webjars/bootswatch/3.3.7/united/bootstrap.min.css}" rel="stylesheet"/-->
        
        <!--link th:href="@{/test.css}" type="text/css" />
        <link th:href="@{/templates/admin/test.css}"  type="text/css" />
        <link th:href="@{/admin/test.css}"  type="text/css" /-->
        
        <link th:href="@{/admin/test.css}" type="text/css" />
        <!--link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-dialog.css}"/-->
        <!--link rel="stylesheet" th:href="@{/css/bootstrap-multiselect.css}" type="text/css"/-->
        <!--link rel="stylesheet" type="text/css" th:href="@{/css/application.css}"/-->
        
       
        <link rel="stylesheet" th:href="@{/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css}" type="text/css" />
     
        <!-- bootstrap-datetimepicker script-->
<!--        <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>-->
        <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
        <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
        
        <script th:src="@{/vendors/moment/min/moment.min.js}"></script>
        <script th:src="@{/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>
    

    </head>    
    <body >
       
        
        <!--form -->
        <form th:object="${activity}" th:action="@{activitychangedsubmit}" method="post">
            <div style="color:blue;font-size:15pt" th:text="#{ams.admin.activity.edit.details.page.title}">Activiteit wijzigen:</div>
            <div>
                
                <div >
                    <div th:text="#{ams.admin.activity.info.label.id}">ID:</div>
                    <!--div th:text="${activity.id}"></div-->
                    <div>
                       <input type="text" data-property="id" class="form-control" placeholder="id" th:field="${activity.id}"/>
                    </div>
                </div>
                 <div >
                     <div >
                        <div th:text="#{ams.admin.activity.info.label.title}">Title:</div>
                    </div>
                    <div>
                       <input type="text" class="form-control" id="title" name="title" th:field="${activity.title}"/>
                    </div>
                 </div>
                <div >    
                        <div th:text="#{ams.admin.activity.info.label.priority}">Priority:</div>
                         <div>
                            <input type="text" id="prio" class="form-control" name="prio" th:field="${activity.prio}"/>
                         </div>
                </div>
                <!--div>
                    <form>
                        <div>
                          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                          <input type="text" id="dateOfCreation" name="dateOfCreation" th:field="${activity.dateOfCreation}" style="width: 200px"  class="form-control"/>
                       </div>
                    </form>    
                </div-->  
                <div > <!--small style css-->
                    <div th:text="#{ams.admin.activity.info.label.dateofexpiration}">Date of expiration</div>
                    <div >
                        <div class='input-group date' id='dateOfExpirationDiv'>
                            <input th:field="${activity.dateOfCreation}" name="dateOfCreation" id="dateOfCreation" type='text' class="form-control" readonly="readonly"/>
                            <span class="input-group-addon" id="calendaricon">
                               <span class="glyphicon glyphicon-calendar" id="subcalendaricon"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div >
                    <div th:text="#{ams.admin.activity.info.label.description}">Description:</div>
                    <div>
                       <input type="text" id="description" class="form-control" name="description" th:field="${activity.description}"/>
                    </div>
                </div>  
                <div >
                        <div th:text="#{ams.admin.activity.info.label.dateofcreation}">Creation date:</div>
                         <div>
                            <input type="text" class="form-control" id="dateOfExpiration" name="dateOfExpiration" th:field="${activity.dateOfExpiration}"/>
                         </div>
                </div>    
                
                <div>    
                    <div th:text="#{ams.admin.activity.info.label.status}">State:</div>
                    <div>
                       <input class="form-control" type="text" id="status" name="status" th:field="${activity.status}"/>
                    </div>
                </div>    
                <div>    
                        <div th:text="#{ams.admin.activity.info.label.requestor}">Requestor:</div>
                         <div>
                            <input class="form-control" type="text" id="requestorName" name="requestorName" th:field="${activity.requestorName}"/>
                         </div>
                 </div>
                <div>
                    <div>
                        <!--input type="submit" value="Submit" style="display:none;"/-->
                        <input  type="submit" value="Submit" id="submit" name="submit" th:style="${submitstyle}"/>
                    </div>    
                </div>    
             </div>
        </form>
   <script th:inline="javascript">

      /*<![CDATA[*/
	    
         var featureShowDatePicker = /*[[${featureShowDatePicker}!=null]]*/ false;
         var featureSubmitActivityChanges = /*[[${featureSubmitActivityChanges}!=null]]*/ false;

       /*]]>*/
   </script> 
 
    <script>
      var ctlrCalendar = document.getElementById("calendaricon");
      var ctlrSubmitButton = document.getElementById("submit");
      var ctlrDateOfCreationInput = document.getElementById("dateOfCreation");
    
      if (featureShowDatePicker)  
      {
        $('#dateOfExpirationDiv').datetimepicker({
              ignoreReadonly: true,
              allowInputToggle: true
          });
         
        ctlrDateOfCreationInput.readOnly = true;
        ctlrCalendar.style.visibility = "visible";
      }
      else
      {
        ctlrDateOfCreationInput.readOnly = false;
        ctlrCalendar.style.visibility = "hidden";
      }
      
      if (featureSubmitActivityChanges)  
      {
        ctlrSubmitButton.style.visibility = "visible";
      }
      else
      {
        ctlrSubmitButton.style.visibility = "hidden";
      }
    </script>    
    </body>
</html>

