<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>CoatRack</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
        <!--<link rel="stylesheet" href="assets/css/main.css" />-->
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/>
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
        <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <!-- include Lobster font via Google Fonts API, to be used in CoatRack logo -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>
    <style>
        .coatrack-logo {
            font-family: Lobster;
            font-style: italic;
            text-transform: none;
        }
    </style>

        <!--meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/-->

        <script th:inline="javascript">
            /*<![CDATA[*/

            $(document).ready(function () {
                $(function () {
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    $(document).ajaxSend(function (e, xhr, options) {
                        xhr.setRequestHeader(header, token);
                    });
                });
            });

            $("a#logout").click(function (event) {
                event.preventDefault();
                $.ajax({
                    beforeSend: function (request) {
                        var token = $("meta[name='_csrf']").attr("content");
                        var header = $("meta[name='_csrf_header']").attr("content");
                        request.setRequestHeader(header, token);
                    },
                    url: "/logout"
//        ,
//        success: function(response) {
//            alert(response);
//        }
                });
                return false; // for good measure
            });

            /*]]>*/
        </script>        

    </head>
    <!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  xmlns="http://www.w3.org/1999/xhtml">
<head>
<div th:include="fragments/head :: head" th:remove="tag">Global Header</div>
<title>CoatRack Admin</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/github.css}"/>
</head>
<body>-->

    <body>

        <!-- Wrapper -->
        <div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-code"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1 class="coatrack-logo">CoatRack</h1>
                <h2>Service Monetization</h2>
                <p>Secure and monetize your API</p>
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#getstarted">Get Started</a></li>
                <li><a href="/admin">Login with Github</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- About -->
        <article id="about">
            <h2 class="major">About </h2>
            <p>
                Use <span class="coatrack-logo">CoatRack </span>
                to offer your software service APIs to developers
                via a trusted framework for service monetization and
                access control.
            </p>
            <span class="image main"><img src="images/coatrack-overview.png" alt="CoatRack service monetization"/></span>
            <h3><span class="coatrack-logo">CoatRack</span> features:</h3>
            <ul>
                <li>Monetization of software services (APIs)</li>
                <li>Pay per use and flatrates</li>
                <li>Dashboard for service access statistics</li>
                <li>Multi-tenant access control</li>
                <li>Authentication &amp; Authorisation</li>
                <li>Payment processing</li>
                <li>Easy set-up – download, run, configure!</li>
            </ul>
            <h3>Architecture</h3>
            <p>
                The following figure shows a typical architecture.
                The calls to your software service API are routed and logged by a custom
                <span class="coatrack-logo">CoatRack </span> Gateway, which you can install in your local network.
                Configuration and statistics are accessible via the <span class="coatrack-logo">CoatRack </span> website.
            </p>
            <span class="image main"><img src="images/coatrack-architecture-overview.png" alt="Typical architecture when using CoatRack"/></span>
            <h3>First steps</h3>
            <p style="margin-bottom: 1rem;">
                These are the main steps to offer your service via <span class="coatrack-logo">CoatRack</span>:
            </p>
            <ol>
                <li><a href="#getstarted">Sign up and create your <span class="coatrack-logo">CoatRack</span> user account</a></li>
                <li>Configure your service offering via the <span class="coatrack-logo">CoatRack</span> website
                    <ul style="margin-bottom: 0;">
                        <li>Define service access permissions</li>
                        <li>Define monetization approach</li>
                    </ul>
                </li>
                <li>Download your own customized <span class="coatrack-logo">CoatRack</span> gateway application</li>
                <li>Install and run gateway inside your network</li>
                <li>Create service API keys for your customers, allowing them to access your service</li>
                <li>See statistics about usage of your services and money earned</li>
            </ol>
        </article>
        <!-- Get Started -->
        <article id="getstarted">
            <h2 class="major">Get Started</h2>
            <p>
                To get started with
                <span class="coatrack-logo"> CoatRack </span>:
            </p>
            <ol>
                <li>Please <a href="/admin">click here to sign up/in with your <i class="icon fa-github"></i> GitHub account</a>.</li>
                <li>After signing in, you will be redirected to the <span class="coatrack-logo"> CoatRack </span> administration panel.</li>
                <li>Then you can setup your first service offering and gateway.</li>
            </ol>
            <h3>Learn More</h3>
            <p>
                <a href="#about">Click here to read more about <span class="coatrack-logo">CoatRack</span></a>
            </p>
        </article>
        <!-- Login -->
        <article id="login">
            <h2>Login</h2>
            <form name='loginForm' action='/perform_login' method='POST'>
                <table>
                    <tr>
                        <td>User:</td>
                        <td><input type='text' name='username' value=''/></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type='password' name='password'/></td>
                    </tr>
                    <tr>
                        <td colspan='2'><input name="submit" type="submit" value="Login"/></td>
                    </tr>
                </table>
                <!--input name="_csrf" type="hidden" th:value="${_csrf.token}"/-->
            </form>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>

                </article>

                <!-- Contact -->
                <article id="contact">
                    <h2 class="major">Contact</h2>
                    <form method="post" action="https://formspree.io/fperezduran@bebr.nl">
                        <div class="field half first">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="4"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="special" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </form>
                    
                </article>

                <!-- Elements -->
                <article id="elements">
                    <h2 class="major">Elements</h2>

                    <section>
                        <h3 class="major">Text</h3>
                        <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
                            This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
                            This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p>
                        <hr />
                        <h2>Heading Level 2</h2>
                        <h3>Heading Level 3</h3>
                        <h4>Heading Level 4</h4>
                        <h5>Heading Level 5</h5>
                        <h6>Heading Level 6</h6>
                        <hr />
                        <h4>Blockquote</h4>
                        <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blan
                            dit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
                        <h4>Preformatted</h4>
                        <pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
                    </section>

                    <section>
                        <h3 class="major">Lists</h3>

                        <h4>Unordered</h4>
                        <ul>
                            <li>Dolor pulvinar etiam.</li>
                            <li>Sagittis adipiscing.</li>
                            <li>Felis enim feugiat.</li>
                        </ul>

                        <h4>Alternate</h4>
                        <ul class="alt">
                            <li>Dolor pulvinar etiam.</li>
                            <li>Sagittis adipiscing.</li>
                            <li>Felis enim feugiat.</li>
                        </ul>

                        <h4>Ordered</h4>
                        <ol>
                            <li>Dolor pulvinar etiam.</li>
                            <li>Etiam vel felis viverra.</li>
                            <li>Felis enim feugiat.</li>
                            <li>Dolor pulvinar etiam.</li>
                            <li>Etiam vel felis lorem.</li>
                            <li>Felis enim et feugiat.</li>
                        </ol>
                        <h4>Icons</h4>
                        <ul class="icons">
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                        </ul>

                        <h4>Actions</h4>
                        <ul class="actions">
                            <li><a href="#" class="button special">Default</a></li>
                            <li><a href="#" class="button">Default</a></li>
                        </ul>
                        <ul class="actions vertical">
                            <li><a href="#" class="button special">Default</a></li>
                            <li><a href="#" class="button">Default</a></li>
                        </ul>
                    </section>

                    <section>
                        <h3 class="major">Table</h3>
                        <h4>Default</h4>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Item One</td>
                                        <td>Ante turpis integer aliquet porttitor.</td>
                                        <td>29.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Two</td>
                                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                        <td>19.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Three</td>
                                        <td> Morbi faucibus arcu accumsan lorem.</td>
                                        <td>29.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Four</td>
                                        <td>Vitae integer tempus condimentum.</td>
                                        <td>19.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Five</td>
                                        <td>Ante turpis integer aliquet porttitor.</td>
                                        <td>29.99</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>100.00</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <h4>Alternate</h4>
                        <div class="table-wrapper">
                            <table class="alt">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Item One</td>
                                        <td>Ante turpis integer aliquet porttitor.</td>
                                        <td>29.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Two</td>
                                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                        <td>19.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Three</td>
                                        <td> Morbi faucibus arcu accumsan lorem.</td>
                                        <td>29.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Four</td>
                                        <td>Vitae integer tempus condimentum.</td>
                                        <td>19.99</td>
                                    </tr>
                                    <tr>
                                        <td>Item Five</td>
                                        <td>Ante turpis integer aliquet porttitor.</td>
                                        <td>29.99</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>100.00</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </section>

                    <section>
                        <h3 class="major">Buttons</h3>
                        <ul class="actions">
                            <li><a href="#" class="button special">Special</a></li>
                            <li><a href="#" class="button">Default</a></li>
                        </ul>
                        <ul class="actions">
                            <li><a href="#" class="button">Default</a></li>
                            <li><a href="#" class="button small">Small</a></li>
                        </ul>
                        <ul class="actions">
                            <li><a href="#" class="button special icon fa-download">Icon</a></li>
                            <li><a href="#" class="button icon fa-download">Icon</a></li>
                        </ul>
                        <ul class="actions">
                            <li><span class="button special disabled">Disabled</span></li>
                            <li><span class="button disabled">Disabled</span></li>
                        </ul>
                    </section>

                    <section>
                        <h3 class="major">Form</h3>
                        <form method="post" action="#">
                            <div class="field half first">
                                <label for="demo-name">Name</label>
                                <input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
                            </div>
                            <div class="field half">
                                <label for="demo-email">Email</label>
                                <input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
                            </div>
                            <div class="field">
                                <label for="demo-category">Category</label>
                                <div class="select-wrapper">
                                    <select name="demo-category" id="demo-category">
                                        <option value="">-</option>
                                        <option value="1">Manufacturing</option>
                                        <option value="1">Shipping</option>
                                        <option value="1">Administration</option>
                                        <option value="1">Human Resources</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field half first">
                                <input type="radio" id="demo-priority-low" name="demo-priority" checked="true" />
                                <label for="demo-priority-low">Low</label>
                            </div>
                            <div class="field half">
                                <input type="radio" id="demo-priority-high" name="demo-priority" />
                                <label for="demo-priority-high">High</label>
                            </div>
                            <div class="field half first">
                                <input type="checkbox" id="demo-copy" name="demo-copy" />
                                <label for="demo-copy">Email me a copy</label>
                            </div>
                            <div class="field half">
                                <input type="checkbox" id="demo-human" name="demo-human" checked="true" />
                                <label for="demo-human">Not a robot</label>
                            </div>
                            <div class="field">
                                <label for="demo-message">Message</label>
                                <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" class="special" /></li>
                                <li><input type="reset" value="Reset" /></li>
                            </ul>
                        </form>
                    </section>

                </article>

            </div>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; . Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>

        </div>

        <!-- BG -->
        <div id="bg"></div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>











<!--</div>
<div th:include="fragments/scripts :: [id='scripts']" th:remove="tag">Scripts</div>
</body>
</html>-->
